{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}

    <center>
        <br>
        <h1 style="color: whitesmoke ;text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;">AGREGAR AVATAR</h1>
        <hr style= "width:33%"
        <br>
        {% if not img %}
    <form
        enctype="multipart/form-data"
        method="POST">{% csrf_token %}

        {{miFormulario.as_p}}

        <input type="submit" value="Enviar">
    
    </form>
        {% else %}

        <h2> YA POSEÉS AVATAR. </h2>
        {% endif %}
    <hr style= "width:33%"
    <br>
    <a href="{% url 'Inicio' %}">Volver al inicio</a>
    <br>
</center>
<br>

{% endblock bloqueQueCambia %}