{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}

<body style ="margin-left: 1em; margin-right: 1em;"> 

    <h1>{{mensaje}}</h1>
    <div>
    <br>  
    <center>
      <h5><font face="garamond">Busca algun plato especifico de nuestro menú</h5>
    </center>
      <form action= "{% url 'Buscar' %}"  method="GET">{% csrf_token %}
          <input type="text" name="prd">
          <input type="submit" name="buscar" value= "Buscar">
      </form>
      <center>
    </div>
    <div>
<h1>Menu</h1>
<ul>
    {% for producto in menu %}

    <li><spam style="font-weight: bold;"> {{producto.nombre}} </spam> - <spam style ="color: green; font-weight: bold; font-size: large;">${{producto.precio}}</spam></li>
<br>
    {% endfor %}
</ul>
</div>
</body>

{% endblock bloqueQueCambia %}