{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}


<style>
    form {
        width: 500px;
        margin: 0 auto;
        padding: 50px;
    }
    .navbar{
        background-color: black;
    }

    .footer {
        left: 0px;
        bottom: 0px;
        width: 100%;
        position: absolute;
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        margin-top:auto;
    }
</style>

<br>
<body>

    <head>
        <title>Iniciar Sesión</title>
    </head>
    
    <body>
        <br>
        <center> 
        <h1 style="color: whitesmoke ;text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;">LOGIN</h1>
        <hr style="width: 33%;">
    </center>
        <center>
            <br>
        <h2>Ingresá Tus Credenciales para acceder</h2>
        <br>
        <hr style="width: 33%;">
            <form action="" method="post"> 

                {% csrf_token%}

                {{form.as_p}}

                <button type = "submit">Iniciar Sesión</button>

            </form>
            <hr style="width: 33%;">
            <h3>¿No tenés cuenta? <a href="{% url 'Registrar' %}">Registrate acá </a> !</h3>
            <br>
            <br>
            <h2> <a href="{% url 'Inicio' %}">Ir al inicio</a></h2>
        </center>
    </body>

{% endblock bloqueQueCambia %}