{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}


<style>
    .footer {
      left: 0px;
      bottom: 0px;
      width: 100%;
      position: absolute;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      margin-top:auto;
    }
    </style>
    <center>
    <body id="logout">
        <h1 style="color: whitesmoke ;text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;">Gracias por visitarnos</h1>

        <h2> <a href="{% url 'Inicio' %}">Ir al inicio</a></h2>
      </center>
    </body>

{% endblock bloqueQueCambia %}
    