{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}


<h1>MENU</h1>
<body style ="margin-left: 10em; margin-right: 1em">
  <div class="Collage effect-parent">
    <center>
      <img src="{% static 'assets/img/1.jpg' %}" width="225" height="275" >
      <img src="{% static 'assets/img/2.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/3.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/4.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/5.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/6.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/7.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/8.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/9.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/10.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/11.jpg' %}" width="225" height="275">
      <img src="{% static 'assets/img/12.jpg' %}" width="225" height="275">
      </center>
  </div>







<body style ="margin-left: 1em; margin-right: 1em;"> 
<br>  
<h5><font face="garamond">Busca algun plato especifico de nuestro menú</h5>

  <form action= "{% url 'Buscar' %}"  method="GET">{% csrf_token %}
      <input type="text" name="prd">
      <input type="submit" name="buscar" value= "Buscar">
  </form>
  <center>
    <section class="NovidadesSection">
        <main class="mainDestacados">
        <br>
          <h1><u><i>Entradas</u></h1></i>
          <ul>
          <section class="containerProdutos">
            <div class="produto">
              <div class="productDescription">
                <h3 class="produto__title">Hummus cremoso con pimentón y aceite de oliva</h3>
                <spam class="produto__price" style="color: green; font-weight: bold">$850.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
              <div class="productDescription">
                <h3 class="produto__title">Tartar de ciervo con mayonesa japonesa y kimchi sobre hoja de shizo dip de
                    nuoc cham</h3>
                <spam class="produto__price" style="color: green; font-weight: bold">$1040.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
              <div class="productDescription">
                <h3 class="produto__title">Ensalada de farfalaj, chauchas, menta, pasas de uva y queso de cabra</h3>
                <spam class="produto__price" style="color: green; font-weight: bold">$1250.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
          </ul>
            
            <br>

            <section class="NovidadesSection">
                <main class="mainDestacados">
                  <i><h1><u>Principales</u></h1></i>
                  <ul>
                  <section class="containerProdutos">
                    <div class="produto">
                      <div class="productDescription">
                        <h3 class="produto__title">Bife de chorizo a la pimienta / A la parrilla. Con puré de coliflor y crema de pimienta</h3>
                        <spam class="produto__price" style="color: green; font-weight: bold">$2800.00</spam>
                      </div>
                      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="produto">
                      <div class="productDescription">
                        <h3 class="produto__title">Arroz de Calamar / Con azafrán, morcilla y alioli</h3>
                        <spam class="produto__price" style="color: green; font-weight: bold">$2750.00</spam>
                      </div>
                      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="produto">
                      <div class="productDescription">
                        <h3 class="produto__title">Girgolas doradas con pure de castañas de cajú, reducción de oporto y
                            pesto de pasas y nueces</h3>
                        <spam class="produto__price" style="color: green; font-weight: bold">$2100.00</spam>
                      </div>
                      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                    </div>
                  </ul>
                    <br>

                    <section class="NovidadesSection">
                        <main class="mainDestacados">
                          <i><h1><u>Postres</u></h1></i>
                          <ul>
                          <section class="containerProdutos">
                            <div class="produto">
                              <div class="productDescription">
                                <h3 class="produto__title">Paris-brest crocante relleno de semiffredo de praline con salsa de caramelo y sal</h3>
                                <spam class="produto__price" style="color: green; font-weight: bold">$890.00</spam>
                              </div>
                              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                            </div>
                            <div class="produto">
                              <div class="productDescription">
                                <h3 class="produto__title">Cremoso de chocolate con corazón de avellanas, crumble de cacao y
                                    crema de café</h3>
                                <spam class="produto__price" style="color: green; font-weight: bold">$980.00</spam>
                              </div>
                              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                            </div>
                            <div class="produto">
                              <div class="productDescription">
                                <h3 class="produto__title">Postre tibio de banana, pera y canela con helado de vainilla y
                                    crema fresca</h3>
                                <spam class="produto__price" style="color: green; font-weight: bold">$1200.00</spam>
                              </div>
                              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
                            </div>
                          </ul>
                        </center>
                      </body>

{% endblock bloqueQueCambia %}