{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}

<head>
    <style>
                    form {
  width: 500px;
  padding:0ch;
}
    </style>
</head>
<body>
    <br>
    <center>
        <h3>Modificar {{object.nombre}}</h3>
        <hr style="width: 33%;">
    <form action="{% url 'MenuEditar' object.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

        {{form.as_p}}
        <br>
        <input type="submit" value="Guardar">

    </form>
    <br>
    <hr style="width: 33%;">
    <button style="font-size: 1em; width: 14ch; height: 6ch;"><a style="font-size: 1em" class="navbar-brand" href="{% url 'MenuListar' %}">Volver al menú</a></button></center>
<br></body>
{% endblock bloqueQueCambia %}