{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<style>
  .footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top:auto;
  }
</style>
<br>
<h1>NOSOTROS</h1>

<body>
    <section class="NovidadesSection">
        <br>
        
        <center>
                <h5 class=""; ><font face="garamond">LARA: soy estudiante de Actuario en economía de la Universidad de Buenos Aires. Mi carrera esta vinculada a las estadísticas <br> y utiliza el lenguaje de programacion visto en este curso como herramienta.
                                Es por eso que decidí anotarme en Coderhouse.<br><br>
                                </font></h5>
        </center>
    </body>
    </section>

    <br>
    <!-- What We Offer-->
    <section class="section section-md bg-default">
        <div class="container">
          <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure">
                    <center>
                      <img src="{% static 'assets/img/Lara.jpeg' %}" alt="" width="250" height="298"/>
                    </center>

                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="{% static 'assets/img/ellos.jpg' %}" alt="" width="390" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-pizza"></span>

                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="{% static 'assets/img/nico.jpg' %}" alt="" width="300" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-hamburger"></span>

                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                
              </section>
              <br>
              <br>

      

{% endblock bloqueQueCambia %}