{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<style>
  .footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top:auto;
  }
</style>
<body>
<br><center>
<h1 style="color: whitesmoke ;text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;">NOSOTROS</h1>
</center>
    <section class="NovidadesSection">
        <br>
        

          <div class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-left: 222px; margin-right: 222px;">
                <h5>Somos Mica Najmanovich y Nico Arcucci, cocinerxs y dueñxs de ANAFE, en Colegiales.</h5>
                <p class="fw-semibolt ">
                  Nos conocimos en el secundario y después de formarnos individualmente por distintas partes del mundo (Australia y España, respectivamente) volvimos casi al mismo tiempo a Buenos Aires con ganas de aplicar todo lo aprendido en nuestra ciudad favorita del mundo.</p>
                <p class="fw-semibolt ">
                  ANAFE nace de nuestras propias ganas de ir a comer a un lugar donde se coma rico, se tome buen vino y se la pase bien, sin tanto bla,bla.</p>
                <p class="fw-semibolt ">
                  Empezamos en 2017 como Pop Up haciendo cenas en casa de tíos y amigos.</p>
                <p class="fw-semibolt ">
                  En el 2018 decidimos dar un paso más grande y abrimos a puertas cerradas en un octavo piso en el barrio de Chacarita. Después de un año y medio con locación secreta, era el momento de salir a la calle.</p>
                <p class="fw-semibolt ">
                  En febrero del 2020 abrimos ANAFE como lo conocemos hoy, en Virrey Aviles 3216 con su característica vibra divertida, relajada y a su vez formal y decidida.</p>
                <p class="fw-semibolt ">
                  En el 2021, tras un año de haber abierto y pandemia mediante, ganamos el premio 50 BEST ONE TO WATCH 2021 LATAM, un gran reconocimiento a nuestro trabajo.</p>
                <p class="fw-semibolt ">
                  Nuestra cocina es de todos lados y de ningún lado al mismo tiempo. Usamos técnicas asiáticas para platos italianos, sabores de medio oriente para preparaciones francesas y así, al infinito. Nos inspiran nuestra herencia, nuestros viajes, nuestro país y todos los países del mundo.</p>
                <p class="fw-semibolt">
                  Tanto nosotrxs como todo nuestro equipo, lxs esperamos cuando quieran para compartir una comida en nuestras mesas. Comamos rico y tomemos vinito como filosofía ante la vida!</p>
              </div>    

 
    <br>
    </section>
    <br><br>
    <br>
    <!-- What We Offer-->
    <section class="section section-md bg-default">
        <div class="container">
          <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure">
                    <center>
                      <img src="{% static 'assets/img/mica.jpeg' %}" alt="" width="250" height="298"/>
                    </center>

                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><center><img src="{% static 'assets/img/ellos.jpg' %}" alt="" width="400" height="298"/></center>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-pizza"></span>

                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><center><img src="{% static 'assets/img/nico.jpg' %}" alt="" width="300" height="298"/></center>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <br><br><br>
                
              </section>
            </body>
      

{% endblock bloqueQueCambia %}