<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        footer {
            background-color: rgba(0, 0, 0, 0.555);
            color: white;
            padding: 1em 0;
            bottom: 0;
            width: 100%;
            font-family: garamond;
          } 
        </style>

        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>ANAFE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    
    <body style ="margin-left: 0em; margin-right: 0em">
    
        <nav class="navbar navbar-dark bg-dark static-top">
            <div class="container">
                <a href="{% url 'Inicio' %}"><img src="{% static 'assets/img/pann.png' %}" width="50" height="50" ></a>
                </a>
                <a class="navbar-brand" href="{% url 'Menu' %}">MENU
                </a>
                <a class="navbar-brand" href="{% url 'Consultas' %}">CONSULTAS
                </a>
                <a class="navbar-brand" href="{% url 'Nosotros' %}">NOSOTROS
                </a>
                <a class="navbar-brand" href="{% url 'Franquicias' %}">FRANQUICIAS
                </a>
                </a>
                <a class="navbar-brand" href="{% url 'Platos' %}">PEDIDOS ONLINE
                </a>


                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'Logout' %}">LOGOUT</a>                   
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">LOGIN</a>
                {% endif %}               
            </div>

        </nav>
    </body>

    <br>
    {% block bloqueQueCambia %}
            
    {% endblock bloqueQueCambia %}

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>ANAFE</h6>
          <p class="footer1">Ganadores del premio <i> 50 BEST ONE TO WATCH 2021 LATAM </i></p>
          <p class="footer2"> Nos inspiran nuestra herencia, nuestros viajes, nuestro país y todos los países del mundo.
            Tanto nosotros como todo nuestro equipo, los esperamos cuando quieran para compartir una comida en nuestras mesas. Comamos rico y tomemos vinito como filosofía ante la vida!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Nuestras Secciones</h6>
          <ul class="footer-links">
            <li><a href="http://127.0.0.1:8000/App_Resto/">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/App_Resto/menu/">Menú</a></li>
            <li><a href="http://127.0.0.1:8000/App_Resto/consultas/">Consultas</a></li>
            <li><a href="http://127.0.0.1:8000/App_Resto/nosotros/">Nosotros</a></li>
            <li><a href="http://127.0.0.1:8000/App_Resto/franquicias/">Franquicias</a></li>
            <li><a href="http://127.0.0.1:8000/App_Resto/platos/">Pedidos Online</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Redes Sociales</h6>
          <ul class="footer-links">
            <li><a href="https://www.instagram.com/anafe.ba/">Instagram</a></li>
            <li><a href="https://www.instagram.com/anafe.ba/">Facebook</a></li>
            <li><a href="https://www.instagram.com/anafe.ba/">Youtube</a></li>
            <li><a href="https://www.instagram.com/anafe.ba/">TikTok</a></li>
            <li><a href="https://www.instagram.com/anafe.ba/">Twitter</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados por  
       <a href="#">ANAFE</a>.
          </p>
        </div>
      </div>
    </div>
</footer>

</html>
