{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<br>
    <head>
        <h1>RESERVAS QUE SE HICIERON</h1>
    </head>

    <body>
            {% for i in db %}
            <table>
                <p>Nombre: {{i.nombre}}- Email: {{i.email}} - Telefono: {{i.telefono}}- Cantidad de personas: {{i.numero_personas}}- Dia: {{i.dia}}- Horario: {{i.horario}}</p>
                <button>
                    <a href="{% url 'EliminarReserva' i.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizarReserva' i.id %}">Editar</a>
                </button>
                <button>
                    <a href="{% url 'DetailReserva' i.id %}">Detalles</a>
                </button>
            </table>
            {% endfor %}
    </body>  




    <style>
        .footer {
          left: 0px;
          bottom: 0px;
          width: 100%;
          position: absolute;
          background-color: rgb(0, 0, 0);
          color: white;
          text-align: center;
          margin-top:auto;
        }
        </style>
    
{% endblock bloqueQueCambia %}