{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<head>
    <style>
            button {
            height: 50px;
            background: orange;
            border: none;
            color: black;
            font-size: 1em;
            font-family: 'Nanum Gothic';
            border-radius: 4px;
            cursor: pointer;
            }
            form {
            width: 50%;
            }
    </style>
</head>
    <body style="font-family: garamond ;">
                        <br>
                        <center><h1 style="color: whitesmoke ;text-shadow: black 1px -1px, black -1px 1px, black 1px 1px, black -1px -1px;">RESERVACION</h3>
                            {% if request.user.is_staff %}
                    <button style="font-size: 1em; width: 14ch; height: 6ch;"><a style="font-size: 1em" class="navbar-brand" href="{% url 'ReservaListar' %}">Vista de Admin</a></button>
                            {% endif %}
                    <hr style="width: 45%;">
                    
                    <br>
                    <h6 style="padding-left: 2%;">DEJANOS TU RESERVA, CONFIRMAREMOS EN BREVE </h6></center>
    
    <center><div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="text-right">                                
                    <font>
                        <form action="{% url 'ReservaCrear' %}" method="POST"> {% csrf_token %}
                            {{form.as_p}}
                            <br>
                            <input type="submit" value="Enviar">
                            <br><br>
                        </form>
                    </font>
                </div>
            </div>
        </div>
    </div></center>
    <center><hr style="width: 45%;">
<br><br>
    <button style="font-size: 1em; width: 14ch; height: 6ch;"><a style="font-size: 1em" class="navbar-brand" href="{% url 'Inicio' %}">Volver al menú</a></button>
</center>
<br><br>
    
</body>
{% endblock bloqueQueCambia %}