{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<h1>MENU</h1>
<body style ="margin-left: 10em; margin-right: 1em">
  <div class="Collage effect-parent">
    <center>
        <img src="{% static 'assets/img/1.jpg' %}" width="225" height="275" >
        <img src="{% static 'assets/img/2.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/3.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/4.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/5.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/6.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/7.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/8.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/9.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/10.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/11.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/12.jpg' %}" width="225" height="275">
    </center>
  </div>


  
<br>

  <body style ="margin-left: 1em; margin-right: 1em">
    {% if productos %}
        <ul>
            {% for producto in productos %}
                <li>
                    <h3>Producto encontrado: {{producto.nombre}}</h3> - <b>Precio: ${{producto.precio}}</b>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        
        <p>No hubo coincidencias. Volver a <A HREF="{% url 'Menu' %}"> MENU</A></p>
    {% endif %}
    </body>

{% endblock bloqueQueCambia %}