{% extends 'padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
<h1>MENU</h1>
<body style ="margin-left: 10em; margin-right: 1em">
  <div class="Collage effect-parent">
    <center>
        <img src="{% static 'assets/img/1.jpg' %}" width="225" height="275" >
        <img src="{% static 'assets/img/2.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/3.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/4.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/5.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/6.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/7.jpg' %}" width="225" height="275">
        <img src="{% static 'assets/img/8.jpg' %}" width="225" height="275">

    </center>
  </div>


  
<br>

  <body style ="margin-left: 1em; margin-right: 1em">
    {% if productos %}
    br
    <center><h1>Producto encontrado: </h1>
      <hr style="width: 33%;">
      <br>
        <ul>
            {% for producto in productos %}
              
              <p> <h4><b><a href="{% url 'MenuDetallar' producto.id %}">{{producto.nombre}}</a></h4> <h5>Precio: <span style="color: green;">${{producto.precio}}</span></h5>
                <hr style="width: 33%;"><br>
              <h4>Volver a <A HREF="{% url 'MenuUsuario' %}"> MENU</A></h4></b>
            {% endfor %}
        </ul></center>
    {% else %}
        
        <p>No hubo coincidencias. Volver a <A HREF="{% url 'MenuUsuario' %}"> MENU</A></p>
    {% endif %}
    </body>

{% endblock bloqueQueCambia %}