{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}

<h1>INICIO</h1>
<body>
  <form action="{% url 'Inicio' %}" method="POST">{% csrf_token %}
    <h1>Novedades</h1>
    <h5>Si queres recibir novedades de Anafe, suscribite!</h5>
    <table><b>Email:</b>  &nbsp;&nbsp;{{miForm.email}} </table> 
    <br>
    <input type="submit" value="Suscribirme">
  </form>
</body>
<div class="Collage effect-parent">
       
    <img src="{% static 'assets/img/1.jpg' %}" width="250" height="300" >
    <img src="{% static 'assets/img/2.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/3.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/4.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/5.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/6.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/7.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/8.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/9.jpg' %}" width="250" height="300">
    <img src="{% static 'assets/img/10.jpg' %}" width="250" height="300">
  </div>



  <body>
      <h1>Novedades</h1>
      <h5>Gracias por suscribirte! Pronto recibirás todas las novedades</h5>
  </body>
    

{% endblock bloqueQueCambia %}
    